[submodule "external/NanoLog"]
        path = external/NanoLog
        url = https://github.com/PlatformLab/NanoLog.git
[submodule "external/HdrHistogram_c"]
        path = external/HdrHistogram_c
        url = https://github.com/HdrHistogram/HdrHistogram_c.git
[submodule "test/rwg"]
	path = test/rwg
	url = git@github.com:farzad1132/rwg.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
